<footer>
    <div class="container">
        <div class="social-links">
            <a href="https://fb.com/DangMinhSangDN" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/_m.sangg/" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="mailto:dannypapq0@gmail.com" class="social-icon"><i class="fas fa-envelope"></i></a>
            <a href="https://zalo.me/0399139491" class="social-icon zalo-icon">
                <img src="/images/Logo-ZALO.svg" alt="Zalo">
            </a>
        </div>
        <p>© 2025 Đặng Minh Sang. All Rights Reserved.</p>
    </div>
</footer>